<div class="container pt-5">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="signupForm">
        <mat-form-field class="col-12 mt-3" appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Entrez votre adresse email" formControlName="email" autocomplete="email">
          <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
          <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
            Entrez une adresse email <strong>valide</strong>
          </mat-error>
          <mat-error
            *ngIf="signupForm.controls['email'].hasError('unavailable') && !signupForm.controls['email'].hasError('required') && !signupForm.controls['email'].hasError('email')">
            Adresse email déjà <strong>enregistrée</strong>, cliquez <a routerLink="login"><strong>ici</strong></a> pour
            vous connecter.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6 mt-3" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput placeholder="Choisissez un mot de passe" autocomplete="new-password"
            formControlName="password">
          <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6 mt-3" appearance="outline">
          <mat-label>Confirmation du mot de passe</mat-label>
          <input type="password" matInput placeholder="Confirmer le mot de passe" autocomplete="new-password"
            formControlName="confirmPassword">
          <mat-error
            *ngIf="signupForm.controls['confirmPassword'].hasError('unmatch') && !signupForm.controls['confirmPassword'].hasError('required')">
            Les mots de passe ne correspondent pas
          </mat-error>
          <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 mt-3" appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Entrez votre prénom" formControlName="firstName">
          <mat-error *ngIf="signupForm.controls['firstName'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 mt-3" appearance="outline">
          <mat-label>Nom de famille</mat-label>
          <input matInput placeholder="Entrez votre nom de famille" formControlName="lastName">
          <mat-error *ngIf="signupForm.controls['lastName'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <div class="col-12 d-flex my-3 ml-3">
        <mat-checkbox color="primary" [(ngModel)]="validation">
          J'accepte les conditions d'utilisation du site *
        </mat-checkbox>
      </div>
      <div class="col-12 pt-3 mb-3">
        <button mat-stroked-button color="primary" type="submit" [disabled]="!signupForm.valid || !validation"
          (click)="submitUser()">
          Valider mon inscription
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
