<div class="container pt-5">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field class="col-12 mt-3" appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Entrez votre adresse email" formControlName="username" autocomplete="username">
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12 mt-3" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput placeholder="Choisissez un mot de passe" autocomplete="password"
            formControlName="password" (keyup)="resetPasswordErrorMessage()">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Champ <strong>obligatoire</strong>
          </mat-error>
          <mat-hint class="text-warn" *ngIf="error">
            Mot de passe <strong>incorrect</strong>
          </mat-hint>
        </mat-form-field>
      </form>
      <div class="col-12 d-flex my-3 ml-3">
        <mat-checkbox color="primary" [(ngModel)]="cookie">
          Maintenir la connexion
        </mat-checkbox>
      </div>
      <div class="col-12 pt-3 mb-3 d-flex">
        <button mat-stroked-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="connectUser()">
          Connexion
        </button>
        <span class="ml-auto"></span>
        <a href="#">
          <span>Mot de passe oublié ?</span>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
