<div class="container h-100" *ngIf="loading">
  <div class="d-flex align-items-center h-100">
    <div class="col-12">
      <div class="col-12 flex-fill">
        <mat-form-field class="col-12 flex-fill">
          <mat-label>url</mat-label>
          <input matInput [(ngModel)]="input">
        </mat-form-field>
      </div>
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="postUrl()">
          Raccourcir
        </button>
      </div>
      <div *ngIf="response" class="text-center mt-5">
        <h3>
          <a href="http://localhost:4200/{{ document.shortId }}" target="_blank">
            https://daedal.pro/{{ document.shortId }}
          </a>
        </h3>
        <img src="{{ document.qrCode }}">
      </div>
    </div>
  </div>
</div>
