<div class="container pt-5">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <mat-form-field class="col-12 mt-3" appearance="outline" *ngIf="!mongoDocument.created">
        <mat-label>Entrez un lien à raccourcir</mat-label>
        <input matInput [(ngModel)]="mongoDocument.url" autofocus>
        <button mat-button mat-icon-button matSuffix (click)=createGenericDocument()>
          <mat-icon>cached</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-12 mt-3" appearance="outline" *ngIf="mongoDocument.created">
        <mat-label>Votre lien raccourci</mat-label>
        <input matInput [ngModel]="'https://shortened.daedal.pro/' + mongoDocument.shortId">
        <button mat-button mat-icon-button matSuffix (click)="copyLink()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
