<mat-toolbar class="mat-elevation-z1">
  <a routerLink="home">
    <button mat-stroked-button color="primary">Accueil</button>
  </a>
  <span class="ml-auto"></span>
  <span *ngIf="!layout.userConnected">
    <a routerLink="login">
      <button mat-stroked-button color="accent">Connexion</button>
    </a>
    <span class="mx-1"></span>
    <a routerLink="signup">
      <button mat-stroked-button color="primary">Inscription</button>
    </a>
  </span>
  <span *ngIf="layout.userConnected">
    <a routerLink="dashboard">
      <button mat-stroked-button color="primary">Dashboard</button>
    </a>
  </span>
</mat-toolbar>
<hr>
<div class="background">
  <router-outlet></router-outlet>
</div>
