.mat-toolbar {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 999;
}

hr {
  margin: 0;
}

.background {
  height: calc(100vh - 65px);
  background-image: linear-gradient(to bottom, #ffffff9a, #ffffff4d), url('../../../assets/background/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
