.mat-toolbar {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 999;
}

hr {
  margin: 0;
}

.router-outlet {
  height: calc(100vh - 65px);
  background-color: rgb(241, 241, 241);
}
