@import '~@angular/material/theming';
@include mat-core();
$angular-url-shortener-primary: mat-palette($mat-green);
$angular-url-shortener-accent: mat-palette($mat-blue, A200, A100, A400);
$angular-url-shortener-warn: mat-palette($mat-red);

$angular-url-shortener-theme: mat-light-theme((color: (primary: $angular-url-shortener-primary,
      accent: $angular-url-shortener-accent,
      warn: $angular-url-shortener-warn,
    )));

@include angular-material-theme($angular-url-shortener-theme);

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: mat-color($angular-url-shortener-accent);
}

::-webkit-scrollbar-thumb:hover {
  background: mat-color($angular-url-shortener-primary);
}

*:focus {
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-primary {
  color: mat-color($angular-url-shortener-primary) !important;
}

.text-accent {
  color: mat-color($angular-url-shortener-accent) !important;
}

.text-warn {
  color: mat-color($angular-url-shortener-warn) !important;
}
